.navbar {
  border-radius: 0;
}

.right {
  float: right;
}

img {
  max-width: 100%;
}

dd {
  margin-bottom: 8px;
}

.prop-header {
  margin-bottom: 16px;
}

.prop-header a.btn {
  margin-left: 16px;
}

.prop-header h1 {
  margin-top: 0;
}

.prop-description {
  margin-top: 16px;
}

.main-headline {
  margin-top: 0;
}

table {
  margin-top: 24px;
}

.tablesorter-header {
  cursor: pointer;
}

.tablesorter-headerAsc,
.tablesorter-headerDesc {
  background: rgba(0,0,0,.1);
}

.search {
  margin-bottom: 16px;
}

/*
 * Clearfix
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * Flash
 */

.flash {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 9999;
  -webkit-animation: flash_hide .5s 2s cubic-bezier(.34,-0.6,.6,.47) forwards;
  animation: flash_hide .5s 2s cubic-bezier(.34,-0.6,.6,.47) forwards;
}

@-webkit-keyframes flash_hide {
  to { -webkit-transform: translateY(-100px); }
}

@keyframes flash_hide {
  to { transform: translateY(-100px); }
}

/*
 * Form
 */

form {
}

@media (min-width: 768px) {
  .label-inline {
    padding-top: 5px;
    display: block;
    text-align: right;
  }
}

.label-required:after {
  content: "*";
  display: inline-block;
  margin-left: .5rem;
  color: #843534;
}

.error-message {
  margin-top: .5rem;
  display: block;
  text-align: right;
  color: #843534;
  font-weight: bold;
  font-style: italic;
}

footer {
  clear: both;
  padding-top: 1.5rem;
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  color: #ccc;
  text-align: center;
}
