.navbar {
  border-radius: 0;
}

.right {
  float: right;
}

/*
 * Clearfix
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * Flash
 */

.flash.flash__notice {
  background: green;
  color: white;
}

.flash.flash__alert {
  background: red;
  color: white;
}

/*
 * Form
 */

form {
}

@media (min-width: 768px) {
  .label-inline {
    padding-top: 5px;
    display: block;
    text-align: right;
  }
}

.label-required:after {
  content: "*";
  display: inline-block;
  margin-left: .5rem;
  color: #843534;
}

.error-message {
  margin-top: .5rem;
  display: block;
  text-align: right;
  color: #843534;
  font-weight: bold;
  font-style: italic;
}

footer {
  clear: both;
  padding-top: 1.5rem;
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  color: #ccc;
  text-align: center;
}
